table.cart-footer__order-detail
  tbody
    tr
      td Address:
      td 31/F, Chinachem Century Tower, 178 Gloucester Road,  Wanchai, Hong Kong
    tr
      td Delivery: 
      td Сourier
    tr
      td Status of order: 
      td Completed
    tr
      td Status of payment:
      td Not paid
