.address-actions {
  display: flex;
  justify-content: space-around;
  &__edit {
    margin-right: auto;
    height: 36px;
    line-height: 36px;
  }
}

@media (max-width: 767px) {
  .address-actions {
    justify-content: space-between;
    &__edit {
      margin-right: 0;
      height: auto;
      line-height: inherit;
    }
  }
}
