.favorite-toggle {
  display: flex;
  align-items: center;
  line-height: 60px;
  &:before {
    content: '';
    display: block;
    width: 23px;
    height: 22px;
    background: svg('fav-false');
    margin-right: 11px;
  }
  &:hover:before{
    background: svg('fav-false', '[fill]: #2fbac0');
    color: red;
  }
  &--is-favorite:before{
    background: svg('fav');
  }
  &--is-favorite:hover:before{
    background: svg('fav', '[fill]: #2fbac0');
  }
}

@media (max-width: 767px) {
  .favorite-toggle {
    justify-content: center;
    margin-top: 20px;
    line-height: 25px;
  }
}
