:root:root:root {
  #informers-container {
  	position: fixed;
      bottom: 0;
      width: 100%;
  	z-index:10000;
  }

  #informers-container .message {
      text-align: center;
      color: #fff;
      padding: 16px 30px;
      border-top: 1px solid #fff;
      span {
        display: inline-block;
        background-repeat: no-repeat;
        padding-left: 35px;
        background-size: 18px 18px;
        background-position: 0 2px;
        text-align: left;
      }
  }

  #informers-container .info {
  	background-color:#8eb6ff;
    & span {
      background-image: svg('msg-success', '[fill]: #fff')
    }
  }

  #informers-container .error  {
  	background-color:#ff6676;
    & span {
      background-image: svg('msg-error', '[fill]: #fff')
    }
  }

  #informers-container .warning {
  	background-color:#ffae78;
    & span {
      background-image: svg('msg-error', '[fill]: #fff')
    }
  }
  #informers-container .success {
  	background-color:#87e2ca;
    & span {
      background-image: svg('msg-success', '[fill]: #fff')
    }
  }
}
