.slider-products {
  margin: 0 -12px 65px;
  padding-top: 45px;
  &__slide {
    width: 282px;
    padding: 0 12px;
  }
  & .slick-arrow {
    position: absolute;
    top: -25px;
  }
  & .slick-prev {
    right: 40px;
  }
  & .slick-next {
    right: 10px;
  }
}

@media(max-width: 767px) {
  .slider-products {
    width: 300px;
    margin: 0 auto 90px;
    padding-top: 35px;
    &__slide {
      padding: 0;
    }
    & .slick-arrow {
      bottom: -35px;
      top: auto;
    }
    & .slick-prev {
      right: calc(50% + 5px);
    }
    & .slick-next {
      left: calc(50% + 5px);
    }
  }
}
