
.emx-catalog-sort {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-image: repeating-linear-gradient(90deg, rgba(0, 0, 0, .5) 0px, rgba(0, 0, 0, .5) 1px, #fff 1px, #fff 3px);
  }
}
.emx-catalog-sort--bottom {
  margin-top: 68px;
  margin-bottom: 120px;
  &:before {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-image: repeating-linear-gradient(90deg, rgba(0, 0, 0, .5) 0px, rgba(0, 0, 0, .5) 1px, #fff 1px, #fff 3px);
  }
}

.sort_text {
  line-height: 52px;
  color: #444;
  text-align: center;
  overflow: hidden;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  text-overflow: ellipsis;
  flex: 1;
}

.catalog_display_items {
  display: flex;
  position: relative;
  padding: 0 35px;
  vertical-align: top;
  align-items: center;
  &:after, &:before {
    position: absolute;
    top: 0;
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background-image: repeating-linear-gradient(0deg, rgba(0, 0, 0, .5) 0px, rgba(0, 0, 0, .5) 1px, #fff 1px, #fff 3px);
  }
  &:after {
    right: 0;
  }
  &:before {
    left: 0;
  }
}
.catalog_display_items .item {
  display: block;
  float: left;
  padding: 0 7px;
  line-height: 30px;
  text-decoration: none;
  color: #999999;
  border: 1px solid transparent;
  &.current {
    color: #000;
    background-color: #f1f1f1;
    border-radius: 3px;
    border: 1px solid #39ced5;
    min-width: 32px;
  }
}
.catalog_display_items .item:hover {
  color: rgba(0, 0, 0, 0.75);
}

/*pagination*/

.pagination {
  display: flex;
  align-items: center;
  padding-left: 15px;
  & ul, & ul li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
.pagination_arrow {
  margin: 0 12px;
}
.pagination_arrow_link {
  display: block;
  height: 100%;
  position: relative;
  transition: all 0.2s ease-out;
  width: 32px;
  height: 32px;
}
.pagination_arrow_link:after {
  display: block;
  content: "";
  height: 6px;
  width: 6px;
  position: absolute;
  left: 12px;
  top: 12px;
  border: 1px solid #707881;
  border-width: 1px 0 0 1px;
  transform: rotate(-45deg);
  transition: all 0.2s ease-out;
}
.pagination_arrow_link.next:after {
  left: 12px;
  right: 2px;
  border-width: 0 1px 1px 0;
}
.pagination_arrow_link:hover:after {
  border-color: #000;
}
ul li.pagination_all {
  margin-left: 20px;
}
.pagination_item .page {
  color: #abb2bd;
  text-align: center;
  min-width: 32px;
  border: 1px solid transparent;
  &.current {
    color: #000;
  }
}
.pagination_item .page:hover {
  color: #000;
}
.pagination_item .page, .pagination_all .page {
  display: block;
  padding: 3px 7px;
  text-decoration: none;
}
.pagination_item .page.current, .pagination_item .page.active {
  min-width: 32px;
  color: #000;
  background-color: #f1f1f1;
  border-radius: 3px;
  border: 1px solid #39ced5;
}
.pagination_all .page {
  color: #abb2bd;
  &:hover {
    color: #000;
  }
}

@media (max-width: 767px) {
  .emx-catalog-sort:after {
    display: none;
  }
}
