@font-face {
    font-family: 'FuturaBT Medium';
    src: url('../fonts/futurabt-medium.woff2') format('woff2'),
         url('../fonts/futurabt-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
